In [1]:
from modules.winners_predictor import WinnersPredictor
from datetime import datetime

import pandas as pd
import json

import sys
import warnings

if not sys.warnoptions:
    warnings.simplefilter("ignore")

wp = WinnersPredictor()
start='01-01-1990'
end='01-01-2016'
train_date_range=pd.date_range(start=start, end=end, freq='Q')
wp.fit(train_date_range, 2, 5)

In [2]:
rewardlist = [25, 18, 15, 12, 10, 8, 6, 4, 2, 1]

with open('stats.json', 'r') as f:
    list_of_results = json.load(f)['stats']

t0 = datetime.now()

model = WinnersPredictor()
date = '2021-06-30'

possible_winners, possible_winners_list = model.predict(
    train_date_range,
    date, 
    list_of_results, 
    rewards=[0.25, 0.5, 0.75, 1.0], 
    reward_list=rewardlist)

t1 = datetime.now()

print(t1 - t0)

In [3]:
t0 = datetime.now()

model = WinnersPredictor()

start='1997-01-01'
end='2016-10-01'
dates = ['2021-06-30','2021-09-30','2021-12-31','2022-03-31','2022-06-30','2022-09-30','2022-12-31','2023-03-31','2022-06-30','2022-09-30','2022-12-31']

end_strp=pd.to_datetime(end)

m=end_strp.month
y=end_strp.year
picks={}
c=0
for date in dates:
    y_add = int((m+c-(m))/12)
    #end=end_strp.replace(day=1, month=(m+c)%12, year=y+y_add).strftime("%Y-%m-%d") - musialbym odpalic backtest
    if y_add==0:
        end=end_strp.replace(day=1, month=(m+c)%12, year=y).strftime("%Y-%m-%d")
    else: end='2017-01-01'
    
    train_date_range=pd.date_range(start=start, end=end, freq='Q')
    possible_winners, possible_winners_list = model.predict(
    train_date_range,
    date, 
    list_of_results, 
    rewards=[0.25, 0.5, 0.75, 1.0], 
    reward_list=rewardlist)
    c+=3
    
    date_strp = pd.to_datetime(date)
    month = date_strp.month + 3
    month = (month % 12) if month > 12 else month 
    year_add = 1 if date_strp.month == 12 else 0

    year = date_strp.year
    pick_date = date_strp.replace(day=1, month=month, year=year+year_add).strftime("%Y-%m-%d")
    picks[pick_date]=possible_winners_list[:5]
    '''
    portfoliodf=pd.DataFrame.from_dict(quarters, orient='index',columns=['stock1', 'stock2', 'stock3', 'stock4', 'stock5'])
    portfolioweights=pd.concat([portfoliodf[column].value_counts() for column in portfoliodf], axis = 1).sum(axis=1)/sum((len(v) for v in quarters.values()))
    portfolioweights=portfolioweights.to_frame().rename({0:'weight'},axis=1).sort_values('weight',ascending=False)
    portfolio[pick_date]=portfolioweights.reset_index().rename({'inedx':'stock',0:'weight'},axis=1).to_dict()'''
    print(possible_winners_list)

t1 = datetime.now()

print(t1 - t0)

['DXCM', 'ENPH', 'EPAM', 'ETSY', 'MPWR', 'FTNT', 'MRNA', 'NVDA', 'GOOG', 'ALXN']
['ANET', 'DXCM', 'ENPH', 'EPAM', 'MPWR', 'NVDA', 'INCY', 'SEDG', 'EOG', 'TSLA']
['ANET', 'GOOG', 'HES', 'MPWR', 'NVDA', 'PX', 'SEDG', 'VRTX', 'X', 'FHN']
['ATVI', 'ANET', 'DXCM', 'BKNG', 'FTNT', 'GRMN', 'MPWR', 'MNST', 'EOG', 'GOOG']
['ANET', 'ATVI', 'GOOG', 'HES', 'ISRG', 'MNST', 'MOH', 'OXY', 'PX', 'COST']
['ANET', 'APA', 'EP', 'ATVI', 'ISRG', 'ATI', 'MNST', 'MPWR', 'REGN', 'OXY']
['ALB', 'ANET', 'BIIB', 'EPAM', 'CPRT', 'ATVI', 'MPWR', 'ISRG', 'ATI', 'MNST']
['ANET', 'CPRT', 'ISRG', 'MNST', 'AAPL', 'ATVI', 'AVGO', 'NE', 'IPGP', 'NVDA']
['ANET', 'ATVI', 'GOOG', 'HES', 'ISRG', 'MNST', 'MOH', 'OXY', 'PX', 'COST']
['ANET', 'APA', 'EP', 'ATVI', 'ISRG', 'ATI', 'MNST', 'MPWR', 'REGN', 'OXY']
['ALB', 'ANET', 'BIIB', 'EPAM', 'CPRT', 'ATVI', 'MPWR', 'ISRG', 'ATI', 'MNST']
0:04:50.282181

In [4]:
possible_winners_list

['ALB', 'ANET', 'BIIB', 'EPAM', 'ATVI', 'MPWR', 'ISRG', 'CPRT', 'ATI', 'MRNA']

In [4]:
import json
f =  open('picks.json')
picks=json.load(f)

picks

{'2021-09-01': ['DXCM', 'ENPH', 'EPAM', 'ETSY', 'FTNT'],
 '2021-12-01': ['ANET', 'DXCM', 'ENPH', 'EPAM', 'INCY'],
 '2022-03-01': ['ANET', 'HES', 'MPWR', 'NVDA', 'PX'],
 '2022-06-01': ['ATVI', 'FTNT', 'ANET', 'BKNG', 'GRMN'],
 '2022-09-01': ['ANET', 'ATVI', 'EOG', 'GOOG', 'HES'],
 '2022-12-01': ['ANET', 'ISRG', 'ATVI', 'MNST', 'IPGP'],
 '2023-03-01': ['ALB', 'ANET', 'BIIB', 'EPAM', 'CPRT'],
 '2023-06-01': ['ANET', 'CPRT', 'GE', 'ISRG', 'AAPL'],
 '2023-09-01': ['ANET', 'ATVI', 'EOG', 'GOOG', 'ISRG'],
 '2023-12-01': ['ANET', 'ATI', 'MNST', 'ISRG', 'MRK']}

In [16]:
date1='2024-03-01'
date2='2023-12-31'
picks[date]=['ANET', 'BIIB', 'EPAM', 'CPRT', 'MPWR']

In [6]:
with open('picks.json', 'w') as f:

    json.dump(picks, f, indent=4)

model = WinnersPredictor()

start='1997-01-01'
end='2017-01-01'
date = '2023-03-31'
train_date_range=pd.date_range(start=start, end=end, freq='Q')
possible_winners, possible_winners_list = model.predict(
train_date_range,
date, 
list_of_results, 
rewards=[0.25, 0.5, 0.75, 1.0], 
reward_list=rewardlist)

In [19]:
tickers = ['ANET', 'APA', 'EP', 'ISRG', 'ATI', 'ATVI', 'MPWR', 'MNST', 'MRK', 'KEYS']

names = [
    'Arista Networks, Inc.',  # ANET
    'APA Corporation',        # APA
    'Enterprise Products Partners L.P.',  # EP
    'Intuitive Surgical, Inc.',   # ISRG
    'Allegheny Technologies Incorporated',  # ATI
    'Activision Blizzard, Inc.',  # ATVI
    'Monolithic Power Systems, Inc.',  # MPWR
    'Monster Beverage Corporation',  # MNST
    'Merck & Co., Inc.',  # MRK
    'Keysight Technologies, Inc.'  # KEYS
]

industries = [
    'Communication Equipment',  # ANET
    'Oil & Gas Exploration & Production',  # APA
    'Oil & Gas Midstream',  # EP
    'Health Care Equipment',  # ISRG
    'Specialty Industrial Machinery',  # ATI
    'Interactive Media & Services',  # ATVI
    'Semiconductors',  # MPWR
    'Non-Alcoholic Beverages',  # MNST
    'Pharmaceuticals',  # MRK
    'Scientific & Technical Instruments'  # KEYS
]

In [20]:
possible_winners

,stock,score,Full Names,Industry
16,ANET,137.5,"Arista Networks, Inc.",Communication Equipment
6,APA,91.8,APA Corporation,Oil & Gas Exploration & Production
5,EP,64.0,Enterprise Products Partners L.P.,Oil & Gas Midstream
11,ISRG,53.2,"Activision Blizzard, Inc.",Interactive Media & Services
3,ATI,52.5,"Intuitive Surgical, Inc.",Health Care Equipment
14,ATVI,41.7,Allegheny Technologies Incorporated,Specialty Industrial Machinery
0,MPWR,31.2,"Monolithic Power Systems, Inc.",Semiconductors
13,MNST,22.2,Monster Beverage Corporation,Non-Alcoholic Beverages
12,MRK,13.6,"Keysight Technologies, Inc.",Scientific & Technical Instruments
2,KEYS,12.0,"Merck & Co., Inc.",Pharmaceuticals

In [21]:
possible_winners=possible_winners.iloc[:10]

In [22]:
possible_winners["Full Names"]=names
possible_winners["Industry"]=industries
possible_winners.drop(0,axis=0)

,stock,score,Full Names,Industry
16,ANET,137.5,"Arista Networks, Inc.",Communication Equipment
6,APA,91.8,APA Corporation,Oil & Gas Exploration & Production
5,EP,64.0,Enterprise Products Partners L.P.,Oil & Gas Midstream
11,ISRG,53.2,"Intuitive Surgical, Inc.",Health Care Equipment
3,ATI,52.5,Allegheny Technologies Incorporated,Specialty Industrial Machinery
14,ATVI,41.7,"Activision Blizzard, Inc.",Interactive Media & Services
13,MNST,22.2,Monster Beverage Corporation,Non-Alcoholic Beverages
12,MRK,13.6,"Merck & Co., Inc.",Pharmaceuticals
2,KEYS,12.0,"Keysight Technologies, Inc.",Scientific & Technical Instruments

In [39]:
dict={}
for k,v in zip(possible_winners['Full Names'].values[:5],possible_winners['stock'].values[:5]):
    dict[v+' US Equity']=k


dict

{'ANET US Equity': 'Arista Networks, Inc.',
 'CPRT US Equity': 'Copart, Inc.',
 'GE US Equity': 'General Electric Company',
 'ISRG US Equity': 'Intuitive Surgical, Inc.',
 'AAPL US Equity': 'Apple Inc.'}

In [9]:
possible_winners_list=possible_winners.stock.to_list()[:5]

#stary backtest, dynaminczy okres


dates = ['2021-06-30','2021-09-30','2021-12-31','2022-03-31']
end_strp=pd.to_datetime(end)
m=end_strp.month
y=end_strp.year
c=0
for date in dates:
    y_add = 0 if m+c == (m+c)%12 else 1
    end=end_strp.replace(day=1, month=(m+c)%12, year=y+y_add).strftime("%Y-%m-%d")
    train_date_range=pd.date_range(start=start, end=end, freq='Q')
    possible_winners, possible_winners_list = model.predict(
    train_date_range,
    date, 
    list_of_results, 
    rewards=[0.25, 0.5, 0.75, 1.0], 
    reward_list=rewardlist)
    c+=3
    print(possible_winners_list)

#stary backtest, statyczny okres


dates = ['2021-06-30','2021-09-30','2021-12-31','2022-03-31']
for date in dates:
    possible_winners, possible_winners_list = model.predict(
    train_date_range, 
    date, 
    list_of_results, 
    rewards=[0.25, 0.5, 0.75, 1.0], 
    reward_list=rewardlist)
    print(possible_winners_list)

with open('picks.json', 'r') as f:
    picks = json.load(f)
with open('picks.json', 'w') as f:
    picks[pick_date] = possible_winners_list
    json.dump(picks, f, indent=4)

In [17]:
#model = WinnersPredictor()
#date='2022-09-30'
picked_stocks = model.show_indicators(date2, picks['2024-03-01'])

# all_stocks = model.show_indicators(date, quantile = 0.5)

In [18]:
picked_stocks.T.round(2)

Symbol                  ANET   BIIB   CPRT   EPAM   MPWR
6QReturn                1.32   0.11   0.78  -0.29   0.59
MarginChange            4.78 -13.14   3.88  -3.26  -5.62
AnnualReturn            1.00  -0.20   0.51  -0.01   0.49
OCFGrowth               0.32   0.08   0.06  -0.01   0.27
quick_ratio             3.16   0.79   5.42   4.64   5.48
current_ratio           4.39   2.00   5.74   4.79   7.74
RevenueGrowth           0.21  -0.06   0.14  -0.06  -0.01
debt_to_equity          0.91  50.19   2.06   4.95   0.41
QuarterlyReturn         0.26  -0.07   0.06   0.18   0.31
RevenueRollGrowth       0.34  -0.03   0.12  -0.03   0.02
STdebtRatio             0.00   0.00   0.00   0.00   0.00
Revenue_3YCAGR          0.33  -0.06   0.20   0.17   0.25
net_debt_to_equity    -68.46  43.10 -38.80 -55.45 -53.18
dividend_payout_ratio   0.00   0.00   0.00   0.00  49.47

In [11]:
datacheck=pd.read_csv("dane/analiza/results.csv")

In [12]:
datacheck

,Dates,ebit,debt_to_equity,quick_ratio,current_ratio,operating_margin,roe,gross_margin,equity,dividend_payout_ratio,...,PEdelta,PSdelta,FCFdelta,PBdelta,QuarterlyReturn,AnnualReturn,6QReturn,BiAnnualReturn,ConsistentGrowth,Symbol
0,1990-03-31,74.8,69.8452,0.8655,0.9541,11.8523,NaN,35.3193,678.5,35.7103,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0111145D
1,1990-06-30,35.3,61.7109,0.7506,0.8774,13.1129,NaN,52.1917,682.7,77.1400,...,NaN,NaN,NaN,NaN,0.028391,NaN,NaN,NaN,0,0111145D
2,1990-09-30,21.3,76.1961,0.5134,0.9133,12.3478,NaN,63.3043,677.2,157.4286,...,NaN,NaN,NaN,NaN,0.134969,NaN,NaN,NaN,0,0111145D
3,1990-12-31,62.5,87.1037,0.6748,0.9434,13.4902,NaN,40.7511,700.2,39.8656,...,NaN,NaN,NaN,NaN,-0.108108,NaN,NaN,NaN,0,0111145D
4,1991-03-31,80.0,62.5240,0.8910,0.9708,12.4281,16.9544,35.8863,730.6,34.6269,...,NaN,NaN,NaN,-0.034543,0.018182,0.059937,NaN,NaN,0,0111145D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107571,2022-12-31,688.0,184.7150,1.5144,2.3701,33.7255,47.2508,67.9902,4403.0,37.8742,...,-8.286335,-2.182640,5.697814,-2.560393,0.083431,-0.137619,-0.183614,0.075754,0,ZTS
107572,2023-03-31,707.0,150.1225,1.7206,3.2736,35.3500,45.2579,70.6000,4491.0,31.4878,...,-2.450340,-0.892561,1.588203,-0.515580,-0.023892,-0.046335,-0.265853,-0.077372,0,ZTS
107573,2023-06-30,826.0,145.9641,1.7179,3.4952,37.8899,48.0826,72.1560,4621.0,25.8141,...,4.567858,1.501203,16.978389,2.963123,0.168701,0.217083,-0.016215,-0.068684,0,ZTS
107574,2023-09-30,782.0,132.9326,1.8725,3.8694,36.3552,46.8124,70.3394,5074.0,57.9237,...,0.823671,0.718955,-2.333139,0.568886,-0.072647,0.146166,0.033581,-0.204333,0,ZTS
107575,2023-12-31,701.0,135.3436,1.7708,3.3579,31.6765,49.8617,67.1035,4991.0,37.7691,...,2.143756,1.053849,-2.331802,0.609001,0.122601,0.187605,0.267041,0.024167,1,ZTS

In [24]:
datacheck[datacheck.Symbol=='ALB'].iloc[-1,60:]

Liqchange             -0.4271
CAPEXgrowth          0.534821
CAPEXrate           -0.223483
EVgrowth            -0.241807
TaxDelta               22.738
GoodwillRate         0.089199
STdebtRatio          0.052203
BBrate              -0.000008
BBgrowth             0.000116
SGRdelta              -4.1491
PE                  10.281393
PS                   1.682144
PFCF               -19.633871
PB                   1.718787
DivYield             0.002902
PEdelta             -0.796315
PSdelta             -2.388425
FCFdelta           -65.744759
PBdelta             -2.013941
QuarterlyReturn       0.13672
AnnualReturn        -0.457945
6QReturn            -0.485558
BiAnnualReturn      -0.296289
ConsistentGrowth            0
Symbol                    ALB
Name: 13735, dtype: object